        <table st-table="displayedConferences" st-safe-src="loadedConferences" class="table">
          <thead>
          <tr>
            <th st-sort="name" st-skip-natural="true" >name</th>
            <th class="text-right" st-sort="numberOfWomen" st-skip-natural="true" >#f</th>
            <th class="text-right" st-sort="numberOfMen" st-skip-natural="true" >#m</th>
            <th class="text-left" st-sort="diversityPercentage" st-sort-default="reverse" st-skip-natural="true" >f:m</th>
            <th st-sort="year" st-skip-natural="true" >year</th>
            <th st-sort="location" st-skip-natural="true" >location</th>
          </tr>
          </thead>
          <tr ng-repeat="conf in displayedConferences">
            <td>
              <a href="{{conf.source}}" target="_other"> 
                <span style="font-size: 10px" class="glyphicon glyphicon-link"></span></a> 
              {{conf.name}} ({{conf.year}}) 
              
            </td>
            <td class="text-right">{{conf.numberOfWomen}}</td>
            <td class="text-right">{{conf.numberOfMen}}</td>
            <td class="text-right">
                <div class="percentage-colour-block">
                <div class="{{conf.diversityPercentage | scoreClass}}">{{conf.diversityPercentage | number:0}}%</div></div>
            </div>
            </td>
            <td>{{conf.year | friendlyYear}}</td>            
            <td>{{conf.location}}</td>            

          </tr>
        </table>
